* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.flights_main {
    display: relative;
    padding: 20px;
    background-size: 100%;
}

.navigation-box {
    border: 1px solid #ccc;
    padding: 20px;
    display: block;
}

.arrow-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
}
.foldable-list {
    margin-top: 20px;
    margin-bottom: 30px;
}
.foldable-list select {
    padding: 5px;
    font-size: 14px;
}

.flightCurrentInfo {
    display: grid;
    border: #131313;
    border-width: 10px;
    margin: 5px;
    padding: 10px 20px;
    font-style: oblique;
    align-items: center;
}

#myChart {
    margin: 20px;
    position: relative;
}

.main_flights {
    background-color: #ffffff;
    display: relative;
}

#checkDate {
    display: relative;
    align-items: center;
    margin-top: 10px;
    font-size: large;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 2;
    top: 80px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 5px;
    border-width: 5px;
    border-color: #131313;
}